body{
    text-align: center;
    color: black;
    font-family:'Courier New', Courier, monospace;
}
.container{
    background-color: #ffe4c4;
    width: 70%;
    margin: auto;
    border-radius: 30px;
    border: 3px solid  black ;
}