body{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: #ffe4c4;
    width: 70%;
    margin: auto;
    border-radius: 30px;
    border: 3px solid  black ;
}